{{ attach_library('openy_gated_content/gated-content-styles') }}
<div id="gated-content">
  <div>
    <div class="gated-content-blog-page">
      {% if image %}
        <div class="blog-page__image" style="background-image: url({{ server ~ image }});"></div>
      {% endif %}
      <div class="gated-containerV2 my-40-20 px--20-10 text-black">
        <h2 class="cachet-book-32-28">{{ title }}</h2>
        {% if field_gc_video_category|length > 0 %}
          <div class="blog-category">
            <b>Category: </b>
            {% for category in field_gc_video_category %}
              <span>{{ category }}</span>
              {% if not loop.last %}
              <i> | </i>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="gated-containerV2 my-40-20 px--20-10 text-black">
        <div class="blog-content__description verdana-16-14">
          {{ description }}
        </div>
      </div>
    </div>
  </div>
</div>
